{% extends "base.html" %}
{% block title %} aggregation {% endblock %}
{% load static %}


{% block content %}
<!-- <div class="container">
  <h2>Project</h2>
  <p>To be implemented by you...</p>
</div> -->
<div class="container" style="padding-bottom: 50px;">
  <h2>Aggregation</h2>
  <p> Energy Efficiency Design Index (EEDI) aggregated by ship type :)</p>
  {% if msg %}
    <span class="text-success h4">{{ msg }}</span>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th class="ordering" onclick="window.location='/aggregation/?order_by=ship_type'">Ship Type</th>
          <th class="ordering" onclick="window.location='/aggregation/?order_by=min_eedi'">Min EEDI</th>
          <th class="ordering" onclick="window.location='/aggregation/?order_by=avg_eedi'">Average EEDI</th>
          <th class="ordering" onclick="window.location='/aggregation/?order_by=max_eedi'">Max EEDI</th>
      </thead>
      {% for row in rows %}
        <!-- <tr style="cursor:pointer;" onclick="window.location='/aggregation/imo/{{ row.imo }}'"> -->
          {% for val in row %}
          <td>{{ val|default:'' }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}