{% extends "base.html" %}
{% block title %} Visual {% endblock %}
{% load static %}

{% block content %}
<div class="container" style="padding-bottom: 50px;">
    <h2>Visual</h2>
    <p> Interactively visualise interesting maritime energy efficiency statistics.</p>
    <br/>
    <br/>
    <h3>The Number of Different Ships in Each Ship Type - Bar Chart</h3>
    <div class="container">
        <canvas id="BarChart" width="300" height="140"></canvas>
    </div>
    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('BarChart').getContext('2d');
        var BarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for label in labels%}'{{label.ship_type}}',{%endfor%}],
                datasets: [{
                  label: 'the Number of Different Ships',
                  data: [{%for label in labels%}'{{label.count}}',{%endfor%}],
                  backgroundColor: [
                    'rgba(75,0,130,0.6)',
                    'rgba(25,25,112,0.6)',
                    'rgba(0,0,255,0.6)',
                    'rgba(0,139,139,0.6)',
                    'rgba(0,206,209,0.6)',
                    'rgba(175,238,238,0.6)',
                    'rgba(0,255,0,0.6)',
                    'rgba(173,255,47,0.6)',
                    'rgba(255,215,0,0.6)',
                    'rgba(255,165,0,0.6)',
                    'rgba(244,164,96,0.6)',
                    'rgba(255,69,0,0.6)',
                    'rgba(205,92,92,0.6)',
                    'rgba(178,34,34,0.6)',
                    'rgba(139,69,19,0.6)'
                  ]
                }]
            }
        });
    </script>

    <h3>The Number of Different Ships in Each Ship Type - Pie Chart</h3>
    <div class="container">
        <canvas id="PieChart" width="300" height="140"></canvas>
    </div>

    <!--Chart js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('PieChart').getContext('2d');
        var PieChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [{%for label in labels%}'{{label.ship_type}}',{%endfor%}],
                datasets: [{
                  label: 'the Number of Different Ships',
                  data: [{%for label in labels%}'{{label.count}}',{%endfor%}],
                  backgroundColor: [
                    'rgba(75,0,130,0.6)',
                    'rgba(25,25,112,0.6)',
                    'rgba(0,0,255,0.6)',
                    'rgba(0,139,139,0.6)',
                    'rgba(0,206,209,0.6)',
                    'rgba(175,238,238,0.6)',
                    'rgba(0,255,0,0.6)',
                    'rgba(173,255,47,0.6)',
                    'rgba(255,215,0,0.6)',
                    'rgba(255,165,0,0.6)',
                    'rgba(244,164,96,0.6)',
                    'rgba(255,69,0,0.6)',
                    'rgba(205,92,92,0.6)',
                    'rgba(178,34,34,0.6)',
                    'rgba(139,69,19,0.6)'
                  ]
                }]
            }
        });
  </script>
</div>
{% endblock %}



