{% extends "base.html" %}
{% block title %} Visualization {% endblock %}
{% load static %}
 
{% block content %}
<div class="container" style="padding-bottom: 50px;">
  <h2>&ensp; Proportion of different ship types</h2>
  <h4>&ensp; &ensp;  In this online International Maritime Organization (partial) database, 14 different types of ships are visible below.</h4>
  <p>&ensp; &ensp;  Pie chart shows the proportion number of ships by types.
  </p>
  
  <div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
                        '#e16c96',
                        '#f8df72',
                        '#add5a2',
                        '#986524',
                        '#40a070',
                        '#f8df72',
                        '#685e48',
                        '#bbb5ac',
                        'rgba(255, 99, 132, 0.5)', 
                        'rgba(54, 162, 235, 0.5)',
                        'rgba(255, 206, 86, 0.5)',
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(153, 102, 255, 0.5)',
                        'rgba(255, 159, 64, 0.5)'
                        
                    ],
          label: 'Ship type'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true
      }
    };
    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>
</div>
{% endblock %}